.header .home_rog {
  display: flex;
}

.title {
  text-align: center;
  color: #5f1997;
  font-family: "Chonburi";
  font-size: 50px;
  letter-spacing: 0.1px;
  line-height: 20px;
  margin-top: 47px;
  font-weight: normal;
}

.line {
  border-color: #cda9f2;
  width: 2400px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.home_rog {
  color: #5f1997;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-size: 20px;
  position: absolute;
  right: 350px;
  top: 53px;
}

.link {
  padding: 5px;
  font-family: "Chonburi";
  text-decoration-line: none;
}

.detail_menu {
  color: #000000;
  opacity: 1;
  text-decoration-line: none;
  padding: 15px;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.nav_menu {
  display: flex;
  height: 45px;
  background-color: rgba(205, 169, 242, 0.2);
  width: 100%;
}

.menu {
  margin: 0 auto;
  display: flex;
}
