@font-face {
  font-family: "Chonburi";
  font-style: normal;
  font-weight: 100;
  src: url("./Chonburi.woff") format("woff");
}

@font-face {
  font-family: "AbhayaLibre-Medium";
  font-style: normal;
  font-weight: 100;
  src: url("./AbhayaLibre-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 100;
  src: url("./Roboto-Regular.woff") format("woff");
}
